# 忽略文件
.catkin_workspace
*.tar
**/*.pyc
input/*.h264
input/*.yaml
*.log
**/*.pyc
*.tar
.vscode/
compile_commands.json

# Other
.vscode/

# 忽略目录
build/
devel/
install/
log/
output/
replay/
input/*/
.vscode/*
**/_pycache_/
Debug/*
Release/*
Package/*
.cache/*
**/compare/
**/modal_cmp/
core_dumps/
*.bin
input_dt_mock
input_gt_mock/
testRos/
testFlask/
testRosPy/
testScript/
testZMQ/
testCoreDump/
temp*
a.out
*.db
# *.txt
# *.py
*.so
*.a
*.o
*.out
*.exe
*.dll
*.msg
# *.sh
*.csv
*.bag
*.vsix
# *.json
*.h265
*.html
*.zip
*.jpg
*.jpeg
*.mcap
*.mp4
*.h264
*.h265
*.proto
*.cc

