# sudo pip install cpplint

set noparent

linelength=180

filter=-legal/copyright
filter=-build/include_order
filter=-whitespace/braces
filter=-readability/todo
filter=-build/include_subdir
filter=-whitespace/indent=4
filter=-whitespace/comments
filter=-whitespace/newline
filter=-build/c++11
filter=-build/c++14
filter=-build/c++17
filter=-whitespace/ending_newline
filter=-whitespace/indent_namespace
